<!--
   Nome:untitled.html
   Package: 
   Autore:
   Data:
   Versione:
   
   Modifiche:
	__________________________________
   | Data | Programmatore | Modifiche |
   |______|_______________|___________|
   |      |               |           |
-->

<div>
	<%= variabile %>
<form method="POST">
 <fieldset>
  <label for="user">Username</label><input type="text" id="user" name="user" />
  <label for="password">Password</label><input type="password" id="password" name="password" />
  <input type="submit" value="Submit" />
 </fieldset>
</form>
</div>
